.goods-item {
    min-height: 450px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    &__img {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
    }
    &__buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
        gap: 5px;

    }
    &_price {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
    }
    &_to-cart {
        padding: 8px 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        background: none;
        border: 1px solid $color-primary;
    }
}