.cart-goods {
    &__title {
        margin-bottom: 40px;
    }
    &__item {
        margin-bottom: 30px;
        max-width: 990px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}